[submodule "raw/vc-youku-plugin"]
	path = raw/vc-youku-plugin
	url = https://github.com/VideoClient/vc-youku-plugin.git
[submodule "raw/example-typescript"]
	path = raw/example-typescript
	url = https://github.com/codecov/example-typescript.git
